input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid black;
}
  
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}
  
li {
    padding: 10px;
    margin: 5px 0;
    background-color: white;
    border-radius: 5px;
}
  
li:hover {
    background-color: black;
    color: white;
}
  
li.selected {
    background-color: black;
    color: white;
}
  
form {
    margin-top: 30px;
    padding: 20px;
    background-color: white;
}
  
form div {
    margin-bottom: 15px;
}
  
label {
    font-size: 16px;
    color: black;
}
  
input[type="text"] {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid grey;
}
  
button[type="submit"] {
    padding: 10px 15px;
    font-size: 16px;
    color: white;
    background-color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
  
button[type="submit"]:hover {
    background-color: grey;
}